<% provide(:title, "Log in") %>
<div class="container">
    <div class="title">
        <h1 >Log in</h1>
    </div>

    <div class="row content">
        <div class="col-md-6 col-md-offset-3">
            
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
            <div class="form-group ">
                <label>Email address</label>
                <%= f.email_field :email, class: 'form-control' %>
            </div>

             <div class="form-group ">
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
            </div>

             <div class="form-group ">
                <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>

            <div class="float-right">
                New user? <%= link_to "Sign up here", signup_path %> 
            </div>
        <% end %>
    </div>
</div>
</div>