    <div class="row content">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with scope: :employee, url: employees_path, local: true do |form| %>

            <% if @employee.errors.any? %>
                <div id="error_explanation">
                  <h2>
                    <%= pluralize(@employee.errors.count, "error") %> prohibited
                    this info from being saved:
                  </h2>
                  <ul>
                    <% @employee.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
 
              <div class="form-group">
                  <%= form.label :company_name %>
                  <%= form.text_field :company_name, class: 'form-control' %>
                </div>
              
              <div class="form-group">
                  <%= form.label :tax %>
                  <%= form.text_field :tax, class: 'form-control' %>
                </div>

              <div class="form-group">
                  <%= form.label :address %>
                  <%= form.text_field :address, class: 'form-control' %>
                </div>

              <div class="form-group">
                  <%= form.label :name %>
                  <%= form.text_field :name, class: 'form-control' %>
                </div>

              <div class="form-group">
                  <%= form.label :position %>
                  <%= form.text_field :position, class: 'form-control' %>
                </div>
                
                <p>
                  <%= form.hidden_field :user_id, value: current_user.id %>
                </p>

              <div class="form-group">
                  <%= form.submit "Save" ,class: "btn btn-primary"%>
                </div>

          <% end %>
 </div>
</div>