
<%= form_with(model: @task, url: freelancer_tasks_path, local: true) do |form| %>

<% if @task.present? && @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this info from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :work_description %><br>
    <%= form.text_area :work_description %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date  %>
  </p>

  <p>
    <%= form.label :income %><br>
    <%= form.text_field :income  %>
  </p>
  <p>Customer
  <% form.label :customer  %><br>
  <%= form.text_area :customer %>
  </p>
  <p>
    <%= form.submit "Add" %>
  </p>
<% end %>


