
<%= form_with(model: @duty, url: employee_duties_path, local: true) do |form| %>

<% if @duty.present? && @duty.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@duty.errors.count, "error") %> prohibited
        this info from being saved:
      </h2>
      <ul>
        <% @duty.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :work_description %><br>
    <%= form.text_area :work_description %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date  %>
  </p>

  <p>
    <%= form.label :income %><br>
    <%= form.text_field :income  %>
  </p>
  <p>Note (optional)
  <% form.label :note  %><br>
  <%= form.text_area :note %>
  </p>
  <p>
    <%= form.submit "Add" %>
  </p>
<% end %>


