<%= form_with scope: :freelancer, url: freelancers_path, local: true do |form| %>

<% if @freelancer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@freelancer.errors.count, "error") %> prohibited
        this info from being saved:
      </h2>
      <ul>
        <% @freelancer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

   <p>
    <%= form.label :position %><br>
    <%= form.text_field :position %>
  </p>

  <p>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </p>

  <p>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </p>

  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>